@{
    string controller = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
    string action = this.ViewContext.RouteData.Values["action"].ToString().ToLower();
}


<nav aria-label="Blog Pagination">
    <ul class="pagination style-1 p-t20 justify-content-center">
        @if (ViewBag.CurrentPage > 2)
        {
            <li class="page-item" title="1">
                <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-page="1">
                    First page
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item" title="@((ViewBag.CurrentPage == 2) ? "First page" : (ViewBag.CurrentPage - 1))">
                <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage - 1)">
                    <i class="fa-solid fa-angles-left"></i>
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage == ViewBag.PageCount && ViewBag.CurrentPage > 2)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage - 2)">
                    @(ViewBag.CurrentPage - 2)
                </a>
            </li>
        }
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage - 1)">
                    @(ViewBag.CurrentPage - 1)
                </a>
            </li>
        }

        <li class="page-item active">
            <a class="page-link" href="javascript:void(0)">
                @(ViewBag.CurrentPage)
            </a>
        </li>

        @if (ViewBag.CurrentPage < ViewBag.PageCount)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage + 1)">
                    @(ViewBag.CurrentPage + 1)
                </a>
            </li>
        }
        @if (ViewBag.CurrentPage == 1 && (ViewBag.CurrentPage + 2) <= ViewBag.PageCount)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage + 2)">
                    @(ViewBag.CurrentPage + 2)
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.PageCount)
        {
            <li class="page-item" title="@((ViewBag.CurrentPage == ViewBag.PageCount - 1) ? "Next" : (ViewBag.CurrentPage + 1))">
                <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage + 1)">
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.PageCount - 1)
        {
            <li class="page-item" title="@ViewBag.PageCount">
                <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-page="@ViewBag.PageCount">
                    Last
                </a>
            </li>
        }



    </ul>
</nav>
